<div class="grid">
  <div class="grid-5">
    <app-email-create></app-email-create>
    <app-email-index></app-email-index>
  </div>
  <div class="grid-11">
    <!-- This will conditionally render the components according
    to the child routes defined -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <app-modal> -->
<!-- <h3 modalTitle>Compose</h3>
  <ng-container modalActions>
    <button class="primary btn">Send</button>
    <button class="btn error">Close</button>
  </ng-container>
</app-modal> -->
<!-- </app-modal> -->
