<div class="container">
  <div class="header">
    <a routerLink="/" class="head">Angular Email</a>
    <div class="right-menu">
      <!-- Async pipe is automatically going to subscribe
        to the observable and return its value. -->
      <ng-container *ngIf="signedIn | async">
        <a routerLink="/inbox" routerLinkActive="active" class="item">
          Inbox
        </a>
        <a routerLink="/signout" routerLinkActive="active" class="item">
          Sign out
        </a>
      </ng-container>
      <ng-container *ngIf="!(signedIn | async)">
        <a
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          class="item"
        >
          Sign In
        </a>
        <a routerLink="/signup" routerLinkActive="active" class="item">
          Sign Up
        </a>
      </ng-container>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
